
<h1>All Animals</h1>
<p>
	Welcome to the adopt us section. Here you will find all the animals available for adoption. 

</p>
<% if admin? %>
<%= link_to "Add New Animal Posts", new_animal_post_path %>
<% end %>
<ul>

	<div class="accordion vertical">

		<%= render @animal_posts %>

	</div>

</ul>
