

<html>
<h1>All Animals</h1>

	Welcome to the adopt us section. Here you will find all the animals available for adoption. 
	<br>
	<br>
	<%= link_to image_tag("Order_form.png", :size => "45x60"), "adoptForm"%>
	<br>


 
<% if admin? %>
<%= link_to "Add New Animal Posts", new_animal_post_path, class: "reg-link"  %>
<% end %>


	<div class="accordion vertical">

		<%= render @animal_posts %>

	</div>


</html>
<!---
<script type = "text/javascript">
  var triggers = $(".modalInput").overlay({
 
      // some mask tweaks suitable for modal dialogs
      mask: {
        color: '#ebecff',
        loadSpeed: 200,
        opacity: 0.9
      },
 
      closeOnClick: false
  });

    $("#prompt form").submit(function(e) {
 
      // close the overlay
      triggers.eq(1).overlay().close();
 
      // get user input
      var input = $("input", this).val();
 
      // do something with the answer
      triggers.eq(1).html(input);
 
      // do not submit the form
      return e.preventDefault();
  });
</script>
<script type = "text/javascript">
// validator. we use custom message layout with a CSS arrow
    $("#myform").validator({
    message: '<div><em/></div>',
    position: 'top left',
    offset: [3, 40]
    });
 
    // dateinput and it's configuration
    $(":date").dateinput({ trigger: true, format: 'dddd mmm yyyy', offset: [2, 0] });
 
    // rangeinput with default configuration
    $(":range").rangeinput();
 
    // overlay with masking. when overlay is loaded or closed we hide error messages if needed
    $("#see").overlay({mask: '#999', fixed: false}).bind("onBeforeClose", function(e) {
    $(".error").hide();
    });
 
    // tabs. possible error messages are visible only on the first tab pane
    $("#navi").tabs(".pane").bind("onClick", function(e, index) {
    $(".error").toggle(!index);
    });
</script> --->
