
<h1>All Animals</h1>
<p>
	Welcome to the adopt us section. Here you will find all the animals available for adoption. 

</p>

<%= link_to "Add New Animal Posts", new_animal_post_path %>

<ul>

	<%= render @animal_posts %>

</ul>
