<h1> <%= @animal_post.name %></h1> 

<p>
	Description: <%= @animal_post.description %>
</p>


	<% if admin? %>
		<%= link_to "Edit Animal Post with ID:  #{@animal_post.id}", edit_animal_post_path(@animal_post) %>
	<% end %>
	
<%= link_to "Back to All Animals", animal_posts_path %>
