/*Home Page Styling*/

.missionstatement {
	font: bold italic helvetica, sans-serif;
	text-align: center;
	padding-bottom: 50px;
	color: purple;
}

.communityevents-title {
	font-weight: bold;
	border-top: 1px solid black;
	border-left: 1px solid black;
	border-right: 1px solid black;
}

.communityevents {
	border-left: 1px solid black;
	border-right: 1px solid black;
	border-bottom: 1px solid black;

}


