/* Layout Styling */
body {

	margin: 0; /*default rails padding around boarder*/
	background: #222222;
}

.container {

	width:960px;
	
	/*margin:0 auto 0 auto; specify all four arguments at once*/
	margin: 0 auto; /*specify top and bottom and then right and left - allows to center the container*/

	
}


/* Header Styling */
.header {

	background: #cce1d7;
	color:black;
	padding: 20px;
	text-align: center;
}

/* Navigation Styling */
.navigation {
	background: #cce1d7;
	color:black;
	text-align: center;
}

.nav-link {
	display:inline-block;
	padding:10px 15px;
	text-decoration:none;
	margin-right: 20px;
	color:white; 

	&:hover {
		background:#ccc;
		color:black;
	}

	&:visited {
		color:white;
	}

}

/* Content Styling */
.content {

	background: #ffffff;
	padding: 60px;
	height: 450px;
	h1 {
		margin-top: 0;
	}
	h3 {
		margin: 0;
	}

}

/* Footer Styling */
.footer {

	background: #333333;
	color:white;
	text-align: left;
}