/* Layout Styling */
body {

	margin: 0; /*default rails padding around border*/
	background: #bdd9e3;
}

.container {

	width:960px;
	
	/*margin:0 auto 0 auto; specify all four arguments at once*/
	margin: 0 auto; /*specify top and bottom and then right and left - allows to center the container*/

	
}


/* Header Styling */
.header {
	width: 100%;
	background: #aad9a5;
	color:black;
	font-size: 24px;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	padding: 20px;
	text-align: center;
}

/* Navigation Styling */
.navigation {
	width: 100%;
	background: #548c9c;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	text-align: center;
}

.nav-link {
	display:inline-block;
	padding:10px 15px;
	text-decoration:none;
	margin-right: 20px;
	color:white; 

	&:hover {
		background:#aad9a5;
		color:black;
	}

	&:visited {
		color:white;
	}

}

/*For inconspicuous links in text*/
.reg-link{
    text-decoration:none;
	text-decoration:bold;
	color:white;
		&:hover {
		color:black;
	}
}

/* Content Styling */
.content {

	background: #bdd9e3;
	padding: 60px;
	height: 450px;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	h1 {
		margin-top: 0;
	}
	h3 {
		margin: 0;
	}

}

/* Footer Styling */
.footer {
position: fixed;
	background: #aad9a5;
	color:black;
	text-align: right;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	bottom: 0;
    width: 100%;
}