
<h1>All Events</h1>
<p>
	Welcome to the events section. Here you will find all the current events. 

</p>

<%= link_to "Add New Event Posts", new_event_post_path %>

<ul>

	<div class="accordion vertical">

		<%= render @event_posts %>

	</div>

</ul>
